.cytology-view {
    padding: 50px;
    height: 100% !important;
}

.cytology-diagnosis {
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
}

.text-inherit {
    color: inherit !important;
}
