.cytology-diagnoses {
    overflow: auto;
    height: 100%;
}

.cytology-diagnosis-button {
    color: #0135a3 !important;
    border: 1px solid #0135a3 !important;
}

.cytology-diagnosis-edit-wrapper {
    margin-top: auto;
}

.cytology-edit-panel {
    flex-grow: 1;
    height: 100%;
}
