@import "./tokens";

* {
  font-family: $font-family-base;
}

.page {
  height: calc(100vh - 100px);
  padding-bottom: 5%;
}

.page-dynamic {
  min-height: calc(100vh - 100px);
  padding-bottom: 5%;
}

.text-secondary {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: $font-weight-semibold;
  font-size: $font-size-medium;
  line-height: $line-height-secondary;
  color: $color-text-secondary-header;
}

.text-secondary-footer {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  line-height: $line-height-small;
  color: $color-text-secondary-footer;
  text-align: center;
}

